:root{
    --primary-color : #8021FD;
    --primary-hover-color : #9513FB;
    --primary-bg : #F3E8FF;
    --bg-purple : #FAF5FF;
    --title-border : #E5DEFF;
    --green : #00A63E;
    --green-hover : #018933;
    --bg-green : #DBFCE7;
    --Violet : #7F22FE;
    --bg-violet : #EDE9FE;
    --orange : #E17100;
    --tomato : #FB2C36;
    --light-yellow : #FEF9C2;
    --yellow : #D08700;
    --dark-yellow : #af7200;
    --light-indigo : #E0E7FF;
    --indigo : #4F39F6;
    --dark-indego :#4026ff;
    --stars : #FFB900;
    --pink : #E454DC;
    font-size: 14px;
}

::selection{
    background-color: #A684FF;
    color: #fff;
}

.bg-none{
    background: none;
}

.bg-gray-sm{
    background-color: #F9FAFB;
}

.bg-gray{
    background-color: #F9FAFB;
}

.bg-purple{
    background-color: var(--primary-color);
}

.bg-orange{
    background-color: var(--orange);
}

.bg-title{
    background-color: var(--bg-purple);
}

.bg-green{
    background-color: var(--bg-green);
}

.bg-dark-green{
    background-color: var(--green);
}

.bg-violet{
    background-color: var(--bg-violet);
}

.bg-gradiant-pink{
    background-image: linear-gradient(130deg , var(--pink) , var(--orange));
}

.bg-gradiant-purple{
    background-image: linear-gradient(130deg , var(--primary-color) , var(--Violet));
}

.bg-dark-violet{
    background-color: var(--Violet);
}

.bg-light-purple{
    background-color: var(--primary-bg) !important;
}

.bg-light-yellow{
    background-color: var(--light-yellow);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-light-indigo{
    background-color: var(--light-indigo);
}

.bg-indigo{
    background-color: var(--indigo);
}

.bg-dark-green-hover:hover{
    background-color: var(--green-hover);
}

.bg-light-purple-hover:hover{
    background-color: var(--bg-purple) !important;
}

.bg-purple-hover:hover{
    background-color:var(--primary-hover-color);
}

.bg-yellow-hover:hover{
    background-color: var(--dark-yellow);
}

.bg-indigo-hover:hover{
    background-color: var(--dark-indigo);
}

.bg-gray-hover:hover{
    background-color: rgba(128, 128, 128, 0.05);
}

.text-purple{
    color: var(--primary-color);
}

.text-pink{
    color: var(--pink);
}

.text-stars{
    color: var(--stars);
}

.text-green{
    color: var(--green);
}

.text-yellow{
    color: var(--yellow);
}

.text-indigo{
    color: var(--indigo);
}

.text-violet{
    color: var(--Violet);
}

.text-red{
    color: var(--tomato) !important;

}

.text-hover-red:hover{
    color: var(--tomato) !important;
}

.text-purple-hover:hover{
    color: var(--primary-color) !important;
}

.border-none{
    border: none;
}

.border-none:focus{
    outline: none;
    box-shadow: none;
}

.title-border{
    border-color: var(--title-border) !important;
}

.border-purple-hover:hover{
    border-color: var(--primary-color) !important;
}

.border-pink-hover:hover{
    border-color: var(--pink) !important;
}

.border-indigo-hover:hover{
    border-color: var(--indigo) !important;
}

.border-green-hover:hover{
    border-color: var(--green) !important;
}

.border-violet-hover:hover{
    border-color: var(--Violet) !important;
}

.border-opacity-15 {
    --bs-border-opacity: 0.15;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fs-7{
    font-size: .9rem;
}

.fs-8{
    font-size: .75rem;
}

.fs-18{
    font-size: 1.125rem;
}

.fs-60{
    font-size: 3.2rem;
}

.fit-content{
    width: fit-content;
}

.max-w-56{
    width: 56rem;
}

.w-90{
    width: 90%;
}

.w-10{
    width: 10%;
}

.h-10{
    height: 10%;
}

.w-15{
    width: 15px;
}

.h-15{
    height: 15px;
}

.w-20px{
    width: 20px;
}

.h-20px{
    height: 20px;
}

.w-40{
    width: 40px;
}

.h-40{
    height: 40px;
}

.w-45{
    width: 45px;
}

.h-45{
    height: 45px;
}

.w-350{
    width: auto;
}

.h-350{
    height: auto;
}

.w-35{
    width: 35px;
}

.h-35{
    height: 35px;
}

.w-60{
    width: 60px;
}

.h-60{
    height: 60px;
}

.h-64 {
    height: calc( .25rem * 64);
}

.w-125{
    width: 125px;
}

.h-125{
    height: 125px;
}

.cursor-pointer{
    cursor: pointer;
}

.transtion{
    transition: all .3s;
}

.start-15{
    left: 15px;
}

.bottom-5{
    bottom: -5%;
}

.start-3{
    left: -3%;
}

.end-3{
    right: -3%;
}

.custom-input::placeholder{
    color: gray;
}

.form-control:focus,
.form-select:focus{
    border-color: #8021FD;
    outline: 2px solid white;
    box-shadow: 0 0 0 0.25rem #8021FD;
}

.title .left::before,
.title .right::before{
    content: "";
    position: absolute;
    top: 50%;
    height: 3px;
    width: 100%;
    transform: translateY(-50%);
}

.title .left::before{
    right: 0;
    background-image: linear-gradient(to left , var(--primary-color) , transparent);
}

.title .right::before{
    left: 0;
    background-image: linear-gradient(to right , var(--primary-color) , transparent);
}

.title h2.gradient{
    color: var(--primary-color);
    background-image: linear-gradient(to right, var(--primary-color) 55%,  var(--orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
/* Start navbar */
.navbar-collapse{
    max-height: 70vh;
    overflow-y: auto;
}

.nav-item .nav-link.custom-nav-link{
    transition: all .3s;
    position: relative;
    padding: 8px 10px !important;
    border-radius: 10px;
    font-weight: 500;
}

.nav-item .nav-link.custom-nav-link:hover{
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

.dropdown-menu{
    border: 0;
    box-shadow: none;
    height: 50vh;
}

.bg-image{
    background-position: center;
    background-size: cover;
}

.bg-newyork{
    background-image: linear-gradient(#4e179a99,#4e179a99), url(../images/new-york.jpeg);
}

.bg-newyork:hover{
    background-image: linear-gradient(#4e179abd,#4e179abd), url(../images/new-york.jpeg);
}

.bg-losanglos{
    background-image: linear-gradient(#4e179a99,#4e179a99), url(../images/los-angeles.jpeg);
}

.bg-losanglos:hover{
    background-image: linear-gradient(#4e179abd,#4e179abd), url(../images/los-angeles.jpeg);
}

.bg-miami{
    background-image: linear-gradient(#4e179a99,#4e179a99), url(../images/miami.jpeg);
}

.bg-miami:hover{
    background-image: linear-gradient(#4e179abd,#4e179abd), url(../images/miami.jpeg);
}

.card1:hover .title{
    color: var(--Violet);
}

.card2:hover .title{
    color: var(--green);
}

.card2:hover .title{
    color: var(--primary-color);
}

.card1:hover  i.ms-2,
.card2:hover  i.ms-2,
.card3:hover  i.ms-2{
    margin-left: 1rem !important;
}
/* End navbar */

/* Start header */
header{
    background-image: linear-gradient(#4d179acc,#59168bcc), url(../images/hero-bg-img.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* End header */

/* Start Properties */
#properties .card:hover .image img{
    scale: 1.1;
}

/* End Properties */

/* Start sevices */
#services .nav-tabs .nav-link{
    border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active{
    background-color: var(--primary-bg);
    border-color: transparent;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color) !important;
}


.nav-tabs .nav-link:hover{
    color: var(--primary-color) !important;
    border-color: transparent;
    border-bottom: 2px solid #C4B4FF;
}
/* End sevices */

/* Start stories */
#stories{
    background-color: #55178F;
}

#stories .title .left::before{
    background-image: linear-gradient(to left , var(--yellow) , transparent);
}

#stories .title .right::before{
    background-image: linear-gradient(to right , var(--yellow) , transparent);
}

.carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.control{
    background-color: #7945A4;
    border-radius: 50%;
}
/* Start stories */

/* Start Help */
#help{
    background-color: #F9FAFB;
}

.accordion-button:not(.collapsed){
    background-color: white;
    box-shadow: none;
}

.accordion-button{
    transition: all .3s;
}

.accordion-button:hover{
    background-color: rgba(128, 128, 128, 0.1);
}

.accordion-button:focus{
    box-shadow: none;
}
/* End Help */

/* Start contact */
#contact .inline:hover{
    transform: translateY(-10px);
}

#contact .inline:hover .icon{
    transform: scale(1.1);
}
/* End contact */

/* Start contact */
#contact .brands .icon:hover{
    scale: 1.1;
    background-color: #fff5 !important;
}

#contact .form-control,
#contact .form-select{
    padding: .9rem;
}

#contact .form-control:focus,
#contact .form-select:focus{
    background-color: white !important;
}

#contact textarea.form-control{
    resize: none;
    height: 150px;
}

#contact .form-check-input:focus{
    box-shadow: none;
    border: none;
}

#contact .form-check-input:checked{
    background-color: var(--primary-color);
}

#contact .form-check-input{
    padding: .7rem;
    border: 1px solid black;
}

#contact form button:hover{
    transform: translateY(-5px);
}

#contact .filled-circle{
    width: 450px;
    height: 450px;
    background-color: #F5F3FE;
}

#contact .circle{
    width: 125px;
    height: 125px;
    border: 5px solid #DDD6FF;
    top: 70px;
    right: 70px;
}

#contact .circle.c-2{
    bottom: 70px;
    left: 70px;
    top: auto;
}
/* End contact */

/* Start footer */
footer{
    background-color: #55178F;
}

footer .icon:hover{
    background-color: #7F22FE !important;
    scale: 1.1;
}
/* End footer */